/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_self
 *= require theme
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
 */
@import "bootstrap";
/* Some Style from the Bootstrap Default Theme */
body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.tabs li {
  display: inline-block;
  padding: 100px;
}

.hidden {
  display: none;
}
.view {
  height: 1000px;
}

@font-face {
  font-family: 'HeydingsCommonIconsRegular';
  src: url('http://ianfarb.com/random/heydings_icons-webfont.eot');
  src: url('http://ianfarb.com/random/heydings_icons-webfont.eot?#iefix') format('embedded-opentype'), url('http://ianfarb.com/random/heydings_icons-webfont.woff') format('woff'), url('http://ianfarb.com/random/heydings_icons-webfont.ttf') format('truetype'), url('http://ianfarb.com/random/heydings_icons-webfont.svg#HeydingsCommonIconsRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #e5e5e5;
}

.bg {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: .25s;
  pointer-events: none;
}

li {
  list-style: none;
}

li a {
  display: block;
  float: left;
  width: 20%;
  padding: 25px 0;
  text-align: center;
  font-family: 'HeydingsCommonIconsRegular', Helvetida Neue, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 40px;
  color: #fff;
  background: #ccc;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, .25);
  transition: .25s;
}

li a:hover {
  margin: -10px 0 0 0;
}

.tabs {
  width: 2000px;
  margin: 0px auto 0 auto;
  border-radius: 10px;
  overflow: hidden;
}

.tabs li:first-child a {
  background: #8F4700 !important;
}

.tabs li:nth-child(2) a {
  background: #009999 !important;
}

.tabs li:nth-child(3) a {
  background: #6dffb9 !important;
}

.tabs li:first-child:hover ~ .bg {
  background: #CC6600;
}

.tabs li:nth-child(2):hover ~ .bg {
  background: #00FFFF;
}

.tabs li:nth-child(3):hover ~ .bg {
  background: #6dffb9;
}